/*Topo da pag*/
.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: yellowgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.Logo {
    font-size: 20px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.Navbar {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
}